.plot {
    padding: 5.6vw;
    text-align: center;

    h1{
        text-transform: uppercase;
        border-bottom: 2px solid #854890;
        margin-bottom: 32px;
    }
    p{
        font-size: 24px;
    }
}